<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <#include "/Common/Layout.html" />
    <link rel="stylesheet" href="../../Scripts/bootstrap-table/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="../../Scripts/bootstrape-select/css/bootstrap-select.min.css">

    <script src="../../Scripts/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../../Scripts/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="../../Scripts/bootstrape-select/js/bootstrap-select.min.js"></script>
    <script src="../../Scripts/bootstrape-select/js/i18n/defaults-zh_CN.js"></script>

    <style>
        /*固定表格行高*/
        .bootTableRow {
            white-space: nowrap;
            overflow: hidden;
            height: 120px;
            max-height: 120px;

        }
    </style>
    <script src="../../ProjectScripts/CompanyAlarmAnalysis/CompanyAlarmAnalysis.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row" style="display: flex">
        <div class="col-xs-12">
            <table id="roleTable" class="table  table-striped table-bordered table-hover">
            </table>
            <div id="roleToolbar" class="toolbar" role="toolbar">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="xs-only" for="roleSearchName">名称：</label>
                        <input type="text" class="form-control" id="roleSearchName"
                               placeholder="请输入名称">
                    </div>
                    <button class="btn btn-default" type="button" onclick="searchMenus()">
                        <span class="glyphicon glyphicon-search" type="button"></span> 查询
                    </button>


                </form>

            </div>
        </div>
    </div>
</div>



</body>
</html>