<!DOCTYPE html>
<html lang="en">
<head>
    <#include "/Common/Layout.html" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../../Scripts/bootstrap-table/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="../../Scripts/bootstrap-treeview/bootstrap-treeview.min.css"/>
    <link rel="stylesheet" href="../../Scripts/bootstrape-select/css/bootstrap-select.min.css">
    <script src="../../Scripts/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../../Scripts/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="../../ProjectScripts/UserRole/UserRole.js"></script>
    <script src="../../Scripts/bootstrape-select/js/bootstrap-select.min.js"></script>
    <script src="../../Scripts/bootstrape-select/js/i18n/defaults-zh_CN.js"></script>
    <script src="../../Scripts/bootstrap-treeview/bootstrap-treeview.js"></script>
    <style>
        /*固定表格行高*/
        .bootTableRow {
            white-space: nowrap;
            overflow: hidden;
            height: 120px;
            max-height: 120px;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row" style="display: flex;">
        <!--左侧树-->
        <div class="col-xs-3">
            <div id="treeDiv" style="width: 99%;height: 100%;overflow-y: auto;box-shadow: 1px 1px 1px 1px #dddddd;">
                <div id="tree">
                </div>
            </div>
        </div>
        <!--人员角色表格-->
        <div class="col-xs-9">
            <table id="sysorgTable" class="table  table-striped table-bordered table-hover"  class="active">
            </table>
            <div id="sysorgToolbar" class="toolbar" role="toolbar">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="xs-only" for="searchName">角色名称：</label>
                        <input type="text" class="form-control" id="searchName" placeholder="请输入角色名称">
                    </div>
                    <!--角色ID隐藏文本框，保存角色ID用-->
                    <input type="text" style="display:none"  id="roleIdtext"/>
                    <button class="btn btn-default" type="button" onclick="searchMenus()">
                        <span class="glyphicon glyphicon-search" type="button"></span> 查询
                    </button>
                    <button class="btn btn-default" type="button" onclick="clearRole()">
                        <span class="glyphicon glyphicon-remove"></span> 清空
                    </button>
                    <button type="button" class="btn btn-default" onclick="saveRoleMenu()">
                            <span class="glyphicon glyphicon-floppy-saved"></span> 保存
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="backSelect()">
                            <span class="glyphicon glyphicon-floppy-remove"></span> 复原
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>