<!DOCTYPE html>
<html lang="en">
<head>
    <#include "/Common/Layout.html" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../../Scripts/bootstrap-table/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="../../Scripts/bootstrap-treeview/bootstrap-treeview.min.css"/>
    <link rel="stylesheet" href="../../Scripts/bootstrape-select/css/bootstrap-select.min.css">
    <script src="../../Scripts/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../../Scripts/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

    <script src="../../ProjectScripts/SysBusinessUser/BusinessUser.js"></script>
    <script src="../../Scripts/bootstrape-select/js/bootstrap-select.min.js"></script>
    <script src="../../Scripts/bootstrape-select/js/i18n/defaults-zh_CN.js"></script>
    <script src="../../Scripts/bootstrap-treeview/bootstrap-treeview.js"></script>
    <style>
        /*固定表格行高*/
        .bootTableRow {
            white-space: nowrap;
            overflow: hidden;
            height: 120px;
            max-height: 120px;

        }

        #tree .glyphicon{
            color: #99CCFF;
        }

        .treeview span.icon, .treeview span.image {
            width: 20px;
        }
    </style>


</head>
<body>
<div class="container-fluid">
    <div class="row" style="display: flex">
        <div class="col-xs-3">

            <div id="treeDiv" style="width: 99%;height: 100%;overflow-y: auto;box-shadow: 1px 1px 1px 1px #dddddd;">
                <div id="tree">
                </div>
            </div>


        </div>
        <!--人员表格-->
        <div class="col-xs-9">
            <table id="userTable" class="table  table-striped table-bordered table-hover">
            </table>
            <div id="userToolbar" class="toolbar" role="toolbar">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="xs-only" for="searchName">姓名：</label>
                        <input type="text" class="form-control" id="searchName"
                               placeholder="请输入姓名">
                    </div>
                    <button class="btn btn-default" type="button" onclick="searchUsers()">
                        <span class="glyphicon glyphicon-search" type="button"></span> 查询
                    </button>
                    <button class="btn btn-success" type="button" onclick="userAdd()">
                        <span class="glyphicon glyphicon-plus"></span> 新增
                    </button>
                    <button class="btn btn-warning" type="button" onclick="userEdit()">
                        <span class="glyphicon glyphicon-pencil"></span> 修改
                    </button>
                    <button class="btn btn-danger" type="button" onclick="userDel()">
                        <span class="glyphicon glyphicon-minus"></span> 删除
                    </button>
                </form>

            </div>

        </div>


    </div>
</div>
<!--模态窗-->
<div class="modal fade" id="myModel" tabindex="-1" role="dialog" aria-labelledby="myModelLabel" data-backdrop='static'
     data-target=".bs-example-modal-lg">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModelLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <form id="userForm">
                            <input type="hidden" name="userId" id="userId">
                            <input type="hidden" name="deptId" id="deptId">
                            <input type="hidden" name="deptCode" id="deptCode">

                            <div class="form-group">
                                <label for="userName">姓名</label>
                                <input type="text" name="userName" class="form-control" id="userName"
                                       placeholder="请输入姓名">
                            </div>

                            <div class="form-group">
                                <label for="telephone">电话</label>
                                <input type="text" name="telephone" class="form-control" id="telephone"
                                       placeholder="请输入电话">
                            </div>

                            <div class="form-group">
                                <label for="sex" class="col-xs-10" style="padding-left: 0">性别</label>
                                <select id="sex" name="sex" class="selectpicker show-tick form-control"
                                        data-live-search="false" data-live-search-style="begins" title="">
                                    <option value="1">男</option>
                                    <option value="0">女</option>
                                </select>
                            </div>



                            <div class="form-group">
                                <input type="checkbox" id="isLogin" onclick="showOrHiddenLogin()" />
                                <label for="isLogin">设置当前用户可登录</label>


                            </div>

                            <div id="login" class="form-group" style="display: none">
                                <label for="loginName" class="col-xs-10" style="padding-left: 0">登录名</label>

                                <input type="text" name="loginName" class="form-control" id="loginName"
                                       placeholder="请输入登录名">


                            </div>


                        </form>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="btn_save">保存</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>