<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>垦利重大危险源在线监控及事故预警系统</title>
    <link rel="stylesheet" href="../../Scripts/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Scripts/bootstrapvalidator/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="../../Scripts/bootstrape3-dialog/css/bootstrap-dialog.min.css">
    <style>
        *{
            margin:0;
            padding:0;
        }

        body{
            margin:0;
            padding:0;
            height:100%;
            width:100%;
        }

    </style>
    <script src="../../Scripts/jquery.min.js"></script>
    <script src="../../Scripts/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../../Scripts/bootstrapvalidator/js/bootstrapValidator.js"></script>
    <script src="../../Scripts/bootstrapvalidator/js/language/zh_CN.js"></script>
    <script src="../../Scripts/bootstrape3-dialog/js/bootstrap-dialog.min.js"></script>
    <script>
        //全局的ajax访问，处理ajax清求时sesion超时
        $.ajaxSetup({
            contentType:"application/x-www-form-urlencoded;charset=utf-8",
            complete:function(XMLHttpRequest,textStatus){
                var sessionstatus=XMLHttpRequest.getResponseHeader("sessionstatus"); //通过XMLHttpRequest取得响应头，sessionstatus，
                if(sessionstatus=="timeout"){
                    //如果超时就处理 ，指定要跳转的页面
                    window.top.location.href="/Login/Index";
                }
            }
        });
    </script>

</head>

</html>