<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>垦利重大危险源在线监控及事故预警系统</title>
    <link rel="stylesheet" href="../../Scripts/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Scripts/bootstrapvalidator/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="../../Scripts/bootstrape3-dialog/css/bootstrap-dialog.min.css">
    <style>
        *{
            margin:0;
            padding:0;
        }

        body{
            margin:0;
            padding:0;
            height:100%;
            width:100%;
        }

    </style>
    <script src="../../Scripts/jquery.min.js"></script>
    <script src="../../Scripts/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../../Scripts/bootstrapvalidator/js/bootstrapValidator.js"></script>
    <script src="../../Scripts/bootstrapvalidator/js/language/zh_CN.js"></script>
    <script src="../../Scripts/bootstrape3-dialog/js/bootstrap-dialog.min.js"></script>


</head>

</html>