<!DOCTYPE html>
<html lang="en">
<head>

    <#include "/Common/Layout.html"/>
    <script src="../../Scripts/base64.js"></script>
    <style type="text/css">
        .navbar .nav > li .dropdown-menu {
            margin: 0;
        }

        .navbar {
            margin-bottom: 0px;
        }

        .navbar .nav > li:hover .dropdown-menu {
            margin-top: 1px;
            visibility: visible;
            display: block;
            background-color: #3186DA;
            opacity: 1;
            z-index: 9999;

        }

        .dropdown-menu {

            visibility: hidden;
            display: block;
            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
        }

        .navbar .nav > li:active .dropdown-menu {
            visibility: hidden;
            display: none;

        }

        .dropdown-menu > li > a {
            color: #fff !important;

        }

        .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
            background-color: #F47427 !important;
            cursor: pointer;

        }

        .titleSpan {
            position: relative;
            top: 12px;
            font-family: 微软雅黑;
            font-size: 14px;
            color: #fff;
        }

        .titleImg {
            position: relative;
            top: 13px;
            display: inline-block;
        }

        .container-fluid {
            min-height: 100%;
        }





    </style>
    <script>
        var menuId='${rootMenu[0].menuId}';
        $(function () {
            var scanHeight = $(window).height();
            var titleHeight = $("#title").height();
            $("#frame").height(scanHeight - titleHeight);

            //默认跳转
            $("#frame").attr("src", "${secondMenu[rootMenu[0].menuId][0].URL}");

            $("#E881EC1A-BD29-605D-B2AF-C9263502349A").next().hover(function (e) {

                $("#E881EC1A-BD29-605D-B2AF-C9263502349A").find("div").css("background-image","url(../../Images/MainView/（选中）备查巡查图标.png)")

                }, function() {
                    recoverIcon();
                }
            );
            $("#E881EC1A-BD29-605D-B2AF-C9263502349A").hover(function (e) {

                    $("#E881EC1A-BD29-605D-B2AF-C9263502349A").find("div").css("background-image","url(../../Images/MainView/（选中）备查巡查图标.png)")

                }, function() {
                    recoverIcon();
                }
            );
            $("#48436811-7D15-41F3-A887-B8AAB499AE4E").next().hover(function (e) {

                    $("#48436811-7D15-41F3-A887-B8AAB499AE4E").find("div").css("background-image","url(../../Images/MainView/（选中）风险分布档案.png)")

                }, function() {
                recoverIcon();
                }
            );
            $("#48436811-7D15-41F3-A887-B8AAB499AE4E").hover(function (e) {

                    $("#48436811-7D15-41F3-A887-B8AAB499AE4E").find("div").css("background-image","url(../../Images/MainView/（选中）风险分布档案.png)")

                }, function() {
                    recoverIcon();
                }
            );
            $("#1D746E71-F4F2-4CEB-9625-8A00A31EEA30").next().hover(function (e) {

                    $("#1D746E71-F4F2-4CEB-9625-8A00A31EEA30").find("div").css("background-image","url(../../Images/MainView/（选中）风险云图图标.png)")

                }, function() {
                recoverIcon();
                }
            );
            $("#1D746E71-F4F2-4CEB-9625-8A00A31EEA30").hover(function (e) {

                    $("#1D746E71-F4F2-4CEB-9625-8A00A31EEA30").find("div").css("background-image","url(../../Images/MainView/（选中）风险云图图标.png)")

                }, function() {
                    recoverIcon();
                }
            );
            $("#5A256541-3258-4DBC-931F-954E11B36A62").hover(function (e) {

                    $("#5A256541-3258-4DBC-931F-954E11B36A62").find("div").css("background-image","url(../../Images/MainView/（选中）风险预警.png)")

                }, function() {
                recoverIcon();
                }
            );
            $("#44072209-1E4A-49E7-BA77-E79902B28AE9").next().hover(function (e) {

                    $("#44072209-1E4A-49E7-BA77-E79902B28AE9").find("div").css("background-image","url(../../Images/MainView/（选中）数据采集监控1.png)")

                }, function() {
                    recoverIcon();
                }
            );


            $("#44072209-1E4A-49E7-BA77-E79902B28AE9").hover(function (e) {

                    $("#44072209-1E4A-49E7-BA77-E79902B28AE9").find("div").css("background-image","url(../../Images/MainView/（选中）数据采集监控1.png)")

                }, function() {
                recoverIcon();
                }
            );
            $("#19C4C1CD-F83A-4A85-9A22-5F939FEAEB1F").next().hover(function (e) {

                    $("#19C4C1CD-F83A-4A85-9A22-5F939FEAEB1F").find("div").css("background-image","url(../../Images/MainView/（选中）基本信息.png)")

                }, function() {
                recoverIcon();
                }
            );
            $("#19C4C1CD-F83A-4A85-9A22-5F939FEAEB1F").hover(function (e) {

                    $("#19C4C1CD-F83A-4A85-9A22-5F939FEAEB1F").find("div").css("background-image","url(../../Images/MainView/（选中）基本信息.png)")

                }, function() {
                    recoverIcon();
                }
            );
            $("#A2DDFF84-1000-46F3-BF20-B8C4F6B09310").next().hover(function (e) {

                    $("#A2DDFF84-1000-46F3-BF20-B8C4F6B09310").find("div").css("background-image","url(../../Images/MainView/系统设置选中.png)")

                }, function() {
                recoverIcon();
                }
            );
            $("#A2DDFF84-1000-46F3-BF20-B8C4F6B09310").hover(function (e) {

                    $("#A2DDFF84-1000-46F3-BF20-B8C4F6B09310").find("div").css("background-image","url(../../Images/MainView/系统设置选中.png)")

                }, function() {
                    recoverIcon();
                }
            );

            //绑定检验
            formValidator();

            //绑定保存按钮提交事件
            $("#btn_save").on("click", function () {
                //获取表单对象
                var bootstrapValidator = $("#pwdForm").data('bootstrapValidator');
                //手动触发验证
                bootstrapValidator.validate();
                if (bootstrapValidator.isValid()) {
                    //表单提交的方法、比如ajax提交
                    //获取表单中的值
                    var oldPwd = $("#oldPwd").val();
                    var newPwd = $("#newPwd").val();
                    var newPwd2 = $("#newPwd2").val();
                    if(newPwd != newPwd2){
                        BootstrapDialog.alert({
                            title: '提示',
                            message: '两次输入的新密码不一致！',
                            size:BootstrapDialog.SIZE_SMALL,
                            type: BootstrapDialog.TYPE_DANGER , // <-- Default value is BootstrapDialog.TYPE_PRIMARY
                            closable: false, // <-- Default value is false
                            draggable: true, // <-- Default value is false
                            buttonLabel: '确定', // <-- Default value is 'OK',

                        });
                        return false;
                    }

                    var base64 = new Base64();
                    $.ajax({
                        type: 'post',
                        url: '/Login/savePwd',
                        data: {oldPwd:base64.encode(oldPwd),newPwd:base64.encode(newPwd)},
                        success: function (result) {
                            if (result.code == "01") {
                                BootstrapDialog.alert({
                                    title: '错误',
                                    message:result.msg,
                                    size:BootstrapDialog.SIZE_SMALL,
                                    type: BootstrapDialog.TYPE_DANGER , // <-- Default value is BootstrapDialog.TYPE_PRIMARY
                                    closable: false, // <-- Default value is false
                                    draggable: true, // <-- Default value is false
                                    buttonLabel: '确定', // <-- Default value is 'OK',

                                });
                            }else{
                                BootstrapDialog.alert({
                                    title: '提示',
                                    message:"修改成功",
                                    size:BootstrapDialog.SIZE_SMALL,
                                    type: BootstrapDialog.TYPE_DANGER , // <-- Default value is BootstrapDialog.TYPE_PRIMARY
                                    closable: false, // <-- Default value is false
                                    draggable: true, // <-- Default value is false
                                    buttonLabel: '确定', // <-- Default value is 'OK',

                                });
                                $('#myModal').modal('hide');
                            }
                        },
                        error: function () {
                            BootstrapDialog.alert({
                                title: '错误',
                                message: '保存失败！',
                                size:BootstrapDialog.SIZE_SMALL,
                                type: BootstrapDialog.TYPE_DANGER , // <-- Default value is BootstrapDialog.TYPE_PRIMARY

                                closable: false, // <-- Default value is false
                                draggable: true, // <-- Default value is false
                                buttonLabel: '确定', // <-- Default value is 'OK',

                            });
                        }
                    });
                }
            });

            //模态窗关闭事件
            $('#myModal').on('hidden.bs.modal', function () {
                $("#pwdForm").data('bootstrapValidator').destroy();
                $('#pwdForm').data('bootstrapValidator', null);
                formValidator();
            });

        });


        function recoverIcon () {

            if(menuId!="E881EC1A-BD29-605D-B2AF-C9263502349A"){
                $("#E881EC1A-BD29-605D-B2AF-C9263502349A").find("div").css({"background-image":"url(../../Images/MainView/备查巡查图标.png)","background-size":"100% 100%"});
            }
            if(menuId!="48436811-7D15-41F3-A887-B8AAB499AE4E"){
                $("#48436811-7D15-41F3-A887-B8AAB499AE4E").find("div").css({"background-image":"url(../../Images/MainView/风险分布档案图标.png)","background-size":"100% 100%"});

            }
            if(menuId!="1D746E71-F4F2-4CEB-9625-8A00A31EEA30"){
                $("#1D746E71-F4F2-4CEB-9625-8A00A31EEA30").find("div").css({"background-image":"url(../../Images/MainView/风险云图.png)","background-size":"100% 100%"});

            }
            if(menuId!="5A256541-3258-4DBC-931F-954E11B36A62"){
                $("#5A256541-3258-4DBC-931F-954E11B36A62").find("div").css({"background-image":"url(../../Images/MainView/风险预警图标.png)","background-size":"100% 100%"});

            }
            if(menuId!="44072209-1E4A-49E7-BA77-E79902B28AE9"){
                $("#44072209-1E4A-49E7-BA77-E79902B28AE9").find("div").css({"background-image":"url(../../Images/MainView/数据采集监控1.png)","background-size":"100% 100%"});

            }
            if(menuId!="19C4C1CD-F83A-4A85-9A22-5F939FEAEB1F"){
                $("#19C4C1CD-F83A-4A85-9A22-5F939FEAEB1F").find("div").css({"background-image":"url(../../Images/MainView/基本信息图标.png)","background-size":"100% 100%"});

            }
            if(menuId!="A2DDFF84-1000-46F3-BF20-B8C4F6B09310"){
                $("#A2DDFF84-1000-46F3-BF20-B8C4F6B09310").find("div").css({"background-image":"url(../../Images/MainView/系统设置图标.png)","background-size":"100% 100%"});

            }
        }



        //跳转方法
        function jumpUrl(url, x) {
            menuId=x;

            $("#frame").attr("src", url);

            if(x.tagName=="A"||x.tagName=="a"){
                x.parentNode.parentNode.style.display = "none";
                setTimeout(function () {

                    x.parentNode.parentNode.style.display = "";
                },1000);
            }
        }

        //注销系统
        function exitSystem(){
            $.ajax({
                type: "POST",
                url: "/Login/ExitSystem",
                success: function (result) {
                    window.location.href = "/Login/Index";
                },
                error: function (result) {

                }
            });
        }

        //修改密码
        function editPwd() {
            //清空表单
            $(':input','#pwdForm')
                .not(':button, :submit, :reset')
                .val('')
                .removeAttr('checked')
                .removeAttr('selected');

            $("#myModalLabel").text("修改密码");
            $('#myModal').modal('show');
        }

        //表单验证
        function formValidator() {
            $("#pwdForm").bootstrapValidator({
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                /**
                 * 表单域配置
                 */
                fields: {
                    //多个重复
                    oldPwd: {
                        //隐藏或显示 该字段的验证
                        enabled: true,
                        //错误提示信息
                        message: '输入有误',
                        validators: {
                            notEmpty: {
                                message: '原密码不能为空'
                            },
                            stringLength: {
                                min: 0,
                                max: 50,
                                message: '密码的长度过长'
                            },
                        }
                    },
                    newPwd: {
                        //隐藏或显示 该字段的验证
                        enabled: true,
                        //错误提示信息
                        message: '输入有误',
                        validators: {
                            notEmpty: {
                                message: '新密码不能为空'
                            },
                            stringLength: {
                                min: 0,
                                max: 50,
                                message: '新密码的长度过长'
                            },
                        }
                    },
                    newPwd2: {
                        //隐藏或显示 该字段的验证
                        enabled: true,
                        //错误提示信息
                        message: '输入有误',
                        validators: {
                            notEmpty: {
                                message: '新密码不能为空'
                            },
                            stringLength: {
                                min: 0,
                                max: 50,
                                message: '新密码的长度过长'
                            },
                            identical: {//相同
                                field: 'newPwd',
                                message: '两次密码不一致'
                            },
                            different: {//不能和旧密码相同
                                field: 'oldPwd',
                                message: '不能和旧密码相同'
                            }
                        }
                    }
                }
            });
        }
        var fullPage=false;
        //收起菜单栏
        function hideTopMenu(e){
            fullPage=true;
            e.focus();
            $("#title").hide();
            $("#hideMenu").hide();
            $("#openMenu").show();

            $("#frame").height($(window).height());
            window.frames['frame'].resizePage();
        }

        //展开菜单栏
        function openTopMenu(e){
            fullPage=false;
            e.focus();
            $("#title").show();
            $("#hideMenu").show();
            $("#openMenu").hide();
            var scanHeight = $(window).height();
            var titleHeight = $("#title").height();
            $("#frame").height(scanHeight - titleHeight);
            window.frames['frame'].resizePage();
        }

        $(document).on('keydown', function(e) {
            var e = event || window.event || arguments.callee.caller.arguments[0];
            if (e && e.keyCode == 122) { //捕捉F11键盘动作
                e.preventDefault(); //阻止F11默认动作
                var el = document.documentElement;
                var rfs = el.requestFullScreen || el.webkitRequestFullScreen || el.mozRequestFullScreen || el.msRequestFullScreen; //定义不同浏览器的全屏API
                //执行全屏
                if (typeof rfs != "undefined" && rfs) {
                    rfs.call(el);
                } else if (typeof window.ActiveXObject != "undefined") {
                    var wscript = new ActiveXObject("WScript.Shell");
                    if (wscript != null) {
                        wscript.SendKeys("{F11}");
                    }
                }
                //监听不同浏览器的全屏事件，并件执行相应的代码
                document.addEventListener("webkitfullscreenchange", function() { //

                    if (document.webkitIsFullScreen) {
                        //全屏后要执行的代码
                        resizePage();
                    } else {
                        //退出全屏后执行的代码
                        resizePage();
                    }
                }, false);

                document.addEventListener("fullscreenchange", function() {
                    if (document.fullscreen) {
                        //全屏后执行的代码
                        resizePage();
                    } else {
                        //退出全屏后要执行的代码
                        resizePage();
                    }
                }, false);

                document.addEventListener("mozfullscreenchange", function() {
                    if (document.mozFullScreen) {
                        //全屏后要执行的代码
                        resizePage();
                    } else {
                        //退出全屏后要执行的代码
                        resizePage();
                    }
                }, false);

                document.addEventListener("msfullscreenchange", function() {
                    if (document.msFullscreenElement) {
                        //全屏后要执行的代码
                        resizePage();
                    } else {
                        //退出全屏后要执行的代码
                        resizePage();
                    }
                }, false);
            }
        });

        //浏览器大小改变方法
        function resizePage(){
            if(fullPage){
                $("#frame").height($(window).height());
            }else{
                var scanHeight = $(window).height();
                var titleHeight = $("#title").height();
                $("#frame").height(scanHeight - titleHeight);
                window.frames['frame'].resizePage();
            }

        }


    </script>
</head>
<body>
<div class="container-fluid">

    <div id="title" class="row" style="background-color: #296eb3">

        <div class="col-md-4" style="border-top: 18px solid transparent;">

            <nobr>
                <img src="../../Images/MainView/徽标1.png" height="54px" width="54px"/>


                <img src="../../Images/MainView/titleName.png" height="24" width="320" style="margin-left: 5px"/>
            </nobr>
        </div>
        <div class="col-md-7">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="nav nav-pills">


                        <#list rootMenu as item>
                        <li class="dropdown" style="">
                            <#assign onclick = "">
                            <#assign imageUrl = "../../Images/MainView/事故应急支持图标.png">

                            <#if item.menuName=="危险源分布">
                                <#assign  imageUrl = "../../Images/MainView/（选中）备查巡查图标.png">
                            </#if>
                            <#if item.menuName=="安全监控">
                                <#assign  imageUrl = "../../Images/MainView/风险预警图标.png">
                            </#if>
                            <#if item.menuName=="备查巡查">
                                <#assign  imageUrl = "../../Images/MainView/风险分布档案图标.png">
                            </#if>
                            <#if item.menuName=="风险云图及预警">
                                <#assign  imageUrl = "../../Images/MainView/风险云图.png">
                            </#if>
                            <#if item.menuName=="事故隐患">
                                <#assign  onclick = "onmousedown=\"jumpUrl('${(item.URL)!}','${(item.menuId)}')\"">
                                <#assign  imageUrl = "../../Images/MainView/风险预警图标.png">
                            </#if>
                            <#if item.menuName=="统计分析">
                                <#assign  imageUrl = "../../Images/MainView/数据采集监控1.png">
                            </#if>
                            <#if item.menuName=="基本信息">
                                <#assign  imageUrl = "../../Images/MainView/基本信息图标.png">
                            </#if>
                            <#if item.menuName=="系统设置">
                                <#assign  imageUrl = "../../Images/MainView/系统设置图标.png">
                            </#if>


                            <div id="${(item.menuId)!}" style="width: 106px;height: 96px;text-align: center;cursor: pointer;" ${onclick}>

                                <div class="titleImg" style="background-image: url(${imageUrl});background-size: 100% 100%;width: 50px;height: 50px;"
                                > </div><br/>
                                <span class="titleSpan">${(item.menuName)!}</span>
                            </div>
                            <#if (secondMenu[item.menuId]!?size > 0)>
                            <ul class="dropdown-menu">
                                <#list (secondMenu[item.menuId])! as menu>
                                <li><a onmousedown="jumpUrl('${(menu.URL)!}','${(item.menuId)}')">${menu.menuName}</a></li>
                            </#list>

                            </ul>
                        </#if>

                        </li>
                    </#list>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div style="width:100% ;text-align: left;">
            <img src="../../Images/MainView/usericon.png"
                 style="height:14px;width: 14px;margin-top: 12px;position: relative"/>
            <span style="position: relative;top: 7px;font-family: 微软雅黑;
            font-size: 12px;color: #fff;" >${userName}</span>
        </div>
        <div style="width:100% ;text-align: left;cursor: pointer " onclick="editPwd();">
            <img src="../../Images/MainView/passwordicon.png"
                 style="height:14px;width: 14px;margin-top: 5px;position: relative"/>
            <span style="position: relative;top: 3px;font-family: 微软雅黑;
            font-size: 12px;color: #fff;">修改密码</span>
        </div>
        <div style="width:100% ;text-align: left;cursor: pointer" onclick="exitSystem();">
            <img src="../../Images/MainView/endicon2.png"
                 style="height:14px;width: 14px;margin-top: 7px;position: relative"/>
            <span style="position: relative;top:4px;font-family: 微软雅黑;
            font-size: 12px;color: #fff;">注销系统</span>
        </div>

        <div style="">
            <img id="hideMenu" onclick="hideTopMenu(this)" src="../../Images/MainView/收起.png"
                 style="width: 15px;height: 18px;top:10px;cursor: pointer;position: relative"/>
        </div>

    </div>

</div>
<div class="row" style="display: flex;position: relative">
 <!--   <img id="hideMenu" onclick="hideTopMenu(this)" src="../../Images/MainView/收起1.png" style="position: absolute;top:0;right: 4%;width: 15px;height: 18px;cursor: pointer;"/>-->
            <img id="openMenu" onclick="openTopMenu(this)" src="../../Images/MainView/展开.png" style="position: absolute;top:0;right: 4%;width: 15px;height: 18px;cursor: pointer;display: none"/>
            <iframe id="frame" name="frame" style="width: 100%;height: 100%;" marginwidth="0" frameborder="0"></iframe>
</div>
</div>

<!--修改密码模态窗-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'
     data-target=".bs-example-modal-lg">
    <div class="modal-dialog" role="document" id="myDialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <form id="pwdForm">
                            <div class="form-group">
                                <label for="oldPwd">原密码</label>
                                <input type="password" name="oldPwd" class="form-control" id="oldPwd"
                                       placeholder="请输入原密码">
                            </div>
                            <div class="form-group">
                                <label for="newPwd">新密码</label>
                                <input type="password" class="form-control" id="newPwd" name="newPwd" placeholder="请输入新密码">
                            </div>
                            <div class="form-group">
                                <label for="newPwd2">确认密码</label>
                                <input type="password" class="form-control" id="newPwd2" name="newPwd2" placeholder="请再次输入新密码">
                            </div>

                        </form>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="btn_save">保存</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>