<!DOCTYPE html>
<html>
<head>

    <#include  "/Common/Layout.html" />
    <link rel="stylesheet" href="../../Scripts/bootstrap-table/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="../../Scripts/bootstrap-treeview/bootstrap-treeview.min.css"/>

    <script src="../../Scripts/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../../Scripts/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="../../Scripts/bootstrap-treeview/bootstrap-treeview.js"></script>
    <script src="../../ProjectScripts/SysMenu/Menu.js"></script>

    <style>
        /*固定表格行高*/
        .bootTableRow {
            white-space: nowrap;
            overflow: hidden;
            height: 120px;
            max-height: 120px;

        }
        .table{
            table-layout: fixed;
        }

    </style>

</head>

<body>
<div class="container-fluid">
    <div class="row" style="display: flex">
        <div class="col-xs-3">

            <div id="treeDiv" style="width: 99%;height: 100%;overflow-y: auto;box-shadow: 1px 1px 1px 1px #dddddd;">
                <div id="tree">
                </div>
            </div>


        </div>
        <div class="col-xs-9">

            <table id="table" class="table  table-striped table-bordered table-hover">
            </table>
            <div id="toolbar" class="toolbar" role="toolbar">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="xs-only" for="name">名称：</label>
                        <input type="text" class="form-control" id="name"
                               placeholder="请输入名称">
                    </div>
                    <button class="btn btn-default" type="button" onclick="searchMenus()">
                        <span class="glyphicon glyphicon-search" type="button"></span> 查询
                    </button>
                    <button class="btn btn-success" type="button" onclick="add()">
                        <span class="glyphicon glyphicon-plus"></span> 新增
                    </button>
                    <button class="btn btn-warning" type="button" onclick="edit()">
                        <span class="glyphicon glyphicon-pencil"></span> 修改
                    </button>
                    <button class="btn btn-danger" type="button" onclick="del()">
                        <span class="glyphicon glyphicon-minus"></span> 删除
                    </button>
                    <button class="btn btn-info" type="button" onclick="moveOrder('up')">
                        <span class="glyphicon glyphicon-arrow-up"></span> 上移
                    </button>
                    <button class="btn btn-info" type="button" onclick="moveOrder('down')">
                        <span class="glyphicon glyphicon-arrow-down"></span> 下移
                    </button>

                </form>

            </div>
        </div>
    </div>


</div>
<!--模态窗-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'
     data-target=".bs-example-modal-lg">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <form id="menuForm">
                            <input type="hidden" name="MenuId" id="MenuId">
                            <input type="hidden" name="ParentMenuId" id="ParentMenuId">
                            <div class="form-group">
                                <label for="MenuName">菜单名称</label>
                                <input type="text" name="MenuName" class="form-control" id="MenuName"
                                       placeholder="请输入菜单名称">
                            </div>
                            <div class="form-group">
                                <label for="URL">URL</label>
                                <input type="text" class="form-control" id="URL" name="URL" placeholder="请输入URL">
                            </div>
                            <div class="form-group">
                                <label for="MenuLevel">菜单等级</label>
                                <input type="number" class="form-control" id="MenuLevel" name="MenuLevel" placeholder="请输入菜单等级">
                            </div>

                        </form>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="btn_save">保存</button>
            </div>
        </div>
    </div>
</div>

</body>

</html>