<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <#include "/Common/Layout.html" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <link rel="stylesheet" href="../../Scripts/bootstrap-table/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="../../Scripts/bootstrape-select/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="../../Scripts/bootstrap-table/extensions/editable/bootstrap-editable.css">
    <script src="../../Scripts/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../../Scripts/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="../../Scripts/bootstrap-table/extensions/editable/bootstrap-editable.js"></script>
    <script src="../../Scripts/bootstrap-table/extensions/editable/bootstrap-table-editable.js"></script>
    <script src="../../Scripts/bootstrape-select/js/bootstrap-select.js"></script>
    <script src="../../Scripts/bootstrape-select/js/bootstrap-select.min.js"></script>
    <script src="../../Scripts/bootstrape-select/js/i18n/defaults-zh_CN.js"></script>
    <script src="../../ProjectScripts/Common/common.js"></script>

<!--导入所用css和js-->
    <link rel="stylesheet" href="../../Scripts/bootstrap-fileinput/css/fileinput.css"/>
    <script src="../../Scripts/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="../../Scripts/bootstrap-fileinput/js/locales/zh.js"></script>


    <style>
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 150px;
            padding-right: 20px;
        }
        .form-inline .form-control {
            display: inline-block;
            width: 170px;
            vertical-align: middle;
        }
        .has-feedback .form-control-feedback {
            position: absolute;
            top: 25px;
            right: 20px;
        }


        #as .has-feedback .form-control-feedback {
            position: absolute;
            top: 0px;
            right: -33px;
        }
        .has-feedback .form-control {
            padding-right: 30px;
        }


        .form-horizontal .has-feedback .form-control-feedback {
            position: absolute;
            top: 0;
            right: 15px;
        }
        /*固定表格行高*/
        .bootTableRow {
            white-space: nowrap;
            overflow: hidden;
            height: 120px;
            max-height: 120px;
        }
        .form {
            padding-top: 10px;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .nav {
            margin-bottom: 10px;
        }

        .container-fluid {
            margin-left: 5px;
            margin-right: 5px;
        }

        .col-md-4 {
            width: 37%;
            height: auto;
            padding-bottom: 2px;
        }
        .col-md-6 {
            padding-bottom: 10px;
        }
        .col-md-8 {
            paddiing-left: -10px;
            width: 56%;
        }
        a:link {
            text-decoration: none;
        }
        a:visited {
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
        }
        a:active {
            text-decoration: none;
        }

        .table{
            table-layout: fixed;
        }
        .panel-default>.panel-heading {
            background-color: #92C6F9;
        }
    </style>
    <!--
        #importModal .modal-body{
            width: 500px;
        }
        #importModal .modal-lg{
            width: 500px;
        }
        #importModal input{
            font-size: 12px;
        }
        #fileDiv.modal-body {
            height: 100px;
        }
    -->

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-14">
            <table id="processUnitTable" class="table  table-striped table-bordered table-hover">
            </table>
            <div id="unitToolbar" class="toolbar" role="toolbar">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="xs-only" for="searchName">工艺单元名称：</label>
                        <input type="text" class="form-control" id="searchName"
                               placeholder="请输入工艺单元名称">
                    </div>
                    <button class="btn btn-default" type="button" onclick="searchMenus()">
                        <span class="glyphicon glyphicon-search" type="button"></span> 查询
                    </button>
                    <button class="btn btn-default" type="button" onclick="clearRole()">
                        <span class="glyphicon glyphicon-remove" type="button"></span> 清空
                    </button>
                    <button class="btn btn-success" type="button" onclick="unitAdd()">
                        <span class="glyphicon glyphicon-plus"></span> 新增
                    </button>
                    <button class="btn btn-warning" type="button" onclick="unitEdit()">
                        <span class="glyphicon glyphicon-pencil"></span> 修改
                    </button>
                    <button class="btn btn-danger" type="button" onclick="unitDel()">
                        <span class="glyphicon glyphicon-minus"></span> 删除
                    </button>
                    <button class="btn btn-default" type="button" onclick="downloadModel()">
                        <span class="glyphicon glyphicon-download-alt" type="button"></span>模板下载
                    </button>
                    <button class="btn btn-default" type="button" onclick="inputFile()">
                        <span class="glyphicon glyphicon-import" type="button"></span>导入
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>

<!--模态窗-->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     data-backdrop='static'      data-target=".bs-example-modal-lg">
    <div class="modal-dialog modal-lg" role="document" style="min-height: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            工艺单元信息
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div>
                                                <form id="unitForm" class="form-inline" name="myForm" role="form">
                                                    <input type="hidden" name="unitId" id="unitId">
                                                    <div id="as">
                                                        <div  class="form-group col-md-6" style="height:50px;">
                                                            <label for="CompanyName" style="margin-left: 30px;margin-right: 16px;font-size: 13px;">所属企业</label>
                                                            <select onchange="changeDangerSource(document.myForm)" id="CompanyName" name="CompanyName"
                                                                    class="selectpicker col-md-8" style="width: 115px;margin-right:100px;" data-live-search="true"
                                                                    data-style="btn-default">
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div id="as2">
                                                        <div class="form-group col-md-6"  style="height:50px;">
                                                            <label for="SourceId" style="font-size: 13px;margin-right: 5px;">所属重大危险源</label>
                                                            <select id="SourceId" name="SourceId" class="selectpicker col-md-8" style="width: 115px;margin-right:-50px;"
                                                                    data-style="btn-default" data-live-search="true"
                                                                    class="form-control" width="115px">
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div id="bs" class="form-group col-md-6" style="height:50px;padding-right: 60px;">
                                                        <label for="UnitName" class="col-md-4" style="font-size: 13px;width: 125px;">工艺单元名称</label>
                                                        <input type="text" name="UnitName" class="form-control select-sm col-md-8" style="width: 155px;margin-left: -5px;"
                                                               id="UnitName" placeholder="工艺单元名称" >
                                                    </div>
                                                    <div class="form-group col-md-6" style="height:50px;padding-right: 65px;">
                                                        <label for="UniqueCodeU" class="col-md-4" style="font-size: 13px;margin-left: 14px;margin-right: -6px;">唯一编码</label>
                                                        <input type="text" name="UniqueCodeU" class="form-control select-sm col-md-8" style="width: 155px;margin-left: 10px;"
                                                               id="UniqueCodeU" placeholder="唯一编码" >
                                                    </div>

                                                    <div class="form-group col-md-6" style="height: 30px;padding-right: 60px;">
                                                        <label for="FEI" class="col-md-4" style="margin-left:-8px;margin-right:-10px;width: 140px;font-size: 13px;">火灾爆炸指数F&EI</label>
                                                        <input type="number" name="FEI" class="form-control input-sm col-md-8" style="width: 155px;"
                                                               id="FEI" placeholder="火灾爆炸指数F&EI" >
                                                    </div>
                                                    <div class="form-group col-md-6" style="height:50px;padding-right: 65px;">
                                                        <label for="AfterFEI" class="col-md-4" style="margin-left:-4px;margin-right:-13px;width: 138px;font-size: 13px;">补偿后的 F&EI</label>
                                                        <input type="number" name="AfterFEI" class="form-control input-sm col-md-8" style="width: 155px;"
                                                               id="AfterFEI" placeholder="补偿后的 F&EI" >
                                                    </div>
                                                    <div class="form-group col-md-6" style="padding-bottom: 10px;">
                                                        <label for="DangerRank" class="col-md-4" style="margin-right: -29px;margin-left: 15px;font-size: 13px;">
                                                            危险等级</label>
                                                        <select  id="DangerRank"  class="selectpicker col-md-8"
                                                                 data-style="btn-default" name="DangerRank">
                                                            <option value="最轻">最轻</option>
                                                            <option value="较轻">较轻</option>
                                                            <option value="中等">中等</option>
                                                            <option value="很大">很大</option>
                                                            <option value="非常大">非常大</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group col-md-6">
                                                        <label for="AfterDangerRank" class="col-md-4"  style="margin-left: -17px;margin-right: -14px;width: 138px;font-size: 13px;">
                                                            补偿后的危险等级</label>
                                                        <select id="AfterDangerRank"   class="selectpicker col-md-8" style="margin-left: 0px;width:115px;"
                                                                name="AfterDangerRank">
                                                            <option value="最轻">最轻</option>
                                                            <option value="较轻">较轻</option>
                                                            <option value="中等">中等</option>
                                                            <option value="很大">很大</option>
                                                            <option value="非常大">非常大</option>
                                                        </select>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            设备基本信息
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <div>
                                                <button class="btn btn-success btn-sm" type="button" id="addEquip">
                                                    <span class="glyphicon glyphicon-plus"></span> 新增
                                                </button>
                                                <button class="btn btn-danger btn-sm" type="button" id="delEquip">
                                                    <span class="glyphicon glyphicon-minus"></span> 删除
                                                </button>
                                            </div>
                                            <table id="equipInfoTable" class="table  table-striped table-bordered table-hover">
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"  id="btn_save" >保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>

<!--导入框-->
<!--style="height:300px;margin: auto"-->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="myFileLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header"  >
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myFileLabel">请选择Excel文件</h4>
            </div>
            <div class="modal-body" id="fileDiv">
                <input type="file" name="file" id="file" class="file-loading"/>
            </div>
        </div>
    </div>
</div>

<script src="../../ProjectScripts/ProcessUnit/ProcessUnit.js"></script>
</body>
</html>