<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <#include "/Common/Layout.html" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../../Scripts/bootstrap-table/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="../../Scripts/bootstrap-treeview/bootstrap-treeview.min.css"/>
    <link rel="stylesheet" href="../../Scripts/bootstrape-select/css/bootstrap-select.min.css">
    <script src="../../Scripts/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../../Scripts/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

    <script src="../../ProjectScripts/ProcessUnit/ProcessUnit.js"></script>
    <script src="../../Scripts/bootstrape-select/js/bootstrap-select.min.js"></script>
    <script src="../../Scripts/bootstrape-select/js/i18n/defaults-zh_CN.js"></script>
    <script src="../../Scripts/bootstrap-treeview/bootstrap-treeview.js"></script>
    <style>
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 150px;
            padding-right: 20px;
        }
        .form-inline .form-control {
            display: inline-block;
            width: 170px;
            vertical-align: middle;
        }
        /*固定表格行高*/
        .bootTableRow {
            white-space: nowrap;
            overflow: hidden;
            height: 120px;
            max-height: 120px;
        }
        .form {
            padding-top: 10px;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .nav {
            margin-bottom: 10px;
        }

        .container-fluid {
            margin-left: 5px;
            margin-right: 5px;
        }

        .col-md-4 {
            width: 37%;
            height: auto;
            padding-bottom: 2px;
        }
        .col-md-6 {
            padding-bottom: 10px;
        }
        .col-md-8 {
            paddiing-left: -10px;
            width: 56%;
        }

    </style>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-14">
            <table id="processUnitTable" class="table  table-striped table-bordered table-hover">
            </table>
            <div id="unitToolbar" class="toolbar" role="toolbar">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="xs-only" for="searchName">工艺单元名称：</label>
                        <input type="text" class="form-control" id="searchName"
                               placeholder="请输入工艺单元名称">
                    </div>
                    <button class="btn btn-default" type="button" onclick="searchMenus()">
                        <span class="glyphicon glyphicon-search" type="button"></span> 查询
                    </button>
                    <button class="btn btn-danger" type="button" onclick="clearRole()">
                        <span class="glyphicon glyphicon-minus"></span> 清空
                    </button>
                    <button class="btn btn-success" type="button" onclick="unitAdd()">
                        <span class="glyphicon glyphicon-plus"></span> 新增
                    </button>
                    <button class="btn btn-warning" type="button" onclick="unitEdit()">
                        <span class="glyphicon glyphicon-pencil"></span> 修改
                    </button>
                    <button class="btn btn-danger" type="button" onclick="unitDel()">
                        <span class="glyphicon glyphicon-minus"></span> 删除
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>

<!--模态窗-->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     data-backdrop='static'      data-target=".bs-example-modal-lg">
    <div class="modal-dialog modal-lg" role="document" style="min-height: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <form id="unitForm" name="myForm">
                            <input type="hidden" name="unitId" id="unitId">
                            <div class="form-group" style="height:70px;">
                                <label for="CompanyName" class="col-xs-10" style="padding-left: 0">所属企业</label>
                                <select onchange="changeDangerSource(document.myForm)" id="CompanyName" name="CompanyName" class="selectpicker show-tick form-control"
                                        data-live-search="false" data-live-search-style="begins" title="">

                                </select>
                            </div>
                            <div class="form-group" style="height:70px;">
                                <label for="SourceId" class="col-xs-10" style="padding-left: 0">所属重大危险源</label>
                                <select id="SourceId" name="SourceId" class="selectpicker show-tick form-control"
                                        data-live-search="false" data-live-search-style="begins" title="">

                                </select>
                            </div>
                            <div class="form-group" style="height:70px;">
                                <label for="UnitName">工艺单元名称</label>
                                <input type="text" name="UnitName" class="form-control" id="UnitName"
                                       placeholder="请输入工艺单元名称">
                            </div>
                            <div class="form-group" style="height:65px;width: 40%;float:left;">
                                <label for="FEI" style="padding-left: 0px;width: 100%;">
                                    火灾爆炸指数 F&EI</label>
                                <input type="number" name="FEI" id="FEI" class="form-control"
                                       placeholder="请输入火灾爆炸指数F&EI"  style="width: 100%;">
                            </div>
                            <div class="form-group"  style="height:65px;width: 40%; float:right;">
                                <label for="AfterFEI" style="padding-left: 0px;width: 100%;">
                                    补偿后的 F&EI</label>
                                <input type="number" name="AfterFEI" class="form-control" id="AfterFEI"
                                       placeholder="请输入补偿后的F&EI"  style="width: 100%;">
                            </div>
                            <div class="form-group" style="height:65px;width: 40%;float:left;">
                                <label for="DangerRank" style="padding-left: 0px;width: 100%;">
                                    危险等级</label>
                                <input type="number" name="DangerRank" class="form-control" id="DangerRank"
                                       placeholder="请输入危险等级"  style="width: 100%;">
                            </div>

                            <div class="form-group" style="height:70px;width: 40%; float:right;">
                                <label for="AfterDangerRank" style="padding-left: 0px;width: 100%;">
                                    补偿后的危险等级</label>
                                <input type="number" name="AfterDangerRank" class="form-control" id="AfterDangerRank"
                                       placeholder="请输入补偿后的危险等级"  style="width: 100%;">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"  id="btn_save" >保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>