<!DOCTYPE html>
<html lang="en">
<head>
    <#include "/Common/Layout.html" />
    <link rel="stylesheet" href="../../Scripts/bootstrap-table/bootstrap-table.min.css"/>
    <script src="../../Scripts/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../../Scripts/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <style>
        /*固定表格行高*/
        .bootTableRow {

            overflow: hidden;
            height: 120px;
            max-height: 120px;

        }
    </style>
    <script src="../../ProjectScripts/RealTimeWarn/RealTimeWarn.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row" style="display: flex">
        <div class="col-xs-12">
            <button class="btn btn-default" onclick="sendName()" style="display: none"></button>
            <table id="table" class="table  table-striped table-bordered table-hover" style="table-layout:fixed;word-wrap:break-word">
                <colgroup>
                    <col width="6%">
                    <col width="30%">
                    <col width="30%">
                    <col width="9.5%">
                    <col width="16%">
                    <col width="13%">
                    <col width="9%">
                    <col width="12%">
                    <col width="8%">
                    <col width="8%">
                    <col width="8%">
                    <col width="10%">
                    <col width="10%">
                </colgroup>
            </table>
        </div>
    </div>
</div>
</body>
</html>