<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <#include "/Common/Layout.html" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../../Scripts/bootstrap-table/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="../../Scripts/bootstrape-select/css/bootstrap-select.min.css">
    <script src="../../Scripts/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../../Scripts/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="../../Scripts/bootstrape-select/js/bootstrap-select.js"></script>
    <script src="../../Scripts/bootstrape-select/js/bootstrap-select.min.js"></script>
    <script src="../../Scripts/bootstrape-select/js/i18n/defaults-zh_CN.js"></script>
    <script src="../../Scripts/bootstrap-table/extensions/export/bootstrap-table-export.js"></script>
    <script src="../../ProjectScripts/Common/common.js"></script>
    <style>
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 150px;
        }
        /*固定表格行高*/
        .bootTableRow {
            white-space: nowrap;
            overflow: hidden;
            height: 120px;
            max-height: 120px;
        }
        #form table tr td {
            min-height: 20px;
            padding: 6px 0 6px 0px;
            vertical-align: top;
        }

        .tdLable {
            height: 40px;
            text-align: right;
        }

        #legend {
            position: absolute;
            right: 18px;
            top: 140px;
            width: 114px;
            height: 115px;
            cursor: pointer;
            background-size: 100% 100%;
        }

        .legenddiv {
            width: 18px;
            height: 10px;
            background-color: #0f0;
            float: left;
            margin-left: 14px;
            margin-top: 5px;
        }

        .titlePng {
            position: absolute;
            top: 0.5px;
            left: 40%;
            width: 320px;
            height: 38px;
            background-size: 100% 100%;
        }

        .form-group {
            padding: 10px 0;
        }

    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-14">
            <table id="enterpriseTable" class="table  table-striped table-bordered table-hover">
            </table>
            <div id="enterpriseToolbar" class="toolbar" role="toolbar">
                <form class="form-inline" role="form">
                    <label class="xs-only" for="searchCompanyName">企业名称：</label>
                    <select placeholder="请选择" class="selectpicker" style="width: 115px;" data-style="btn-default" id="searchCompanyName" data-live-search="true">                                                >
                    </select>
                    <label class="xs-only" for="searchScaleCode">企业规模：</label>
                    <select placeholder="请选择"class="selectpicker" style="width: 115px;" data-style="btn-default" id="searchScaleCode">                                                >
                    </select>
                    <label class="xs-only" for="searchTypeCode">企业类型：</label>
                    <select placeholder="请选择" class="selectpicker" style="width: 115px;" data-style="btn-default" id="searchTypeCode">                                                >
                    </select>
                    <label class="xs-only" for="searchIndustryId">企业行业：</label>
                    <select placeholder="请选择"class="selectpicker" style="width: 115px;" data-style="btn-default" id="searchIndustryId">                                                >
                    </select>
                    <button class="btn btn-default" type="button" onclick="searchMenus()">
                        <span class="glyphicon glyphicon-search" type="button"></span> 查询
                    </button>
                    <button class="btn btn-danger" type="button" onclick="clearRole()">
                        <span class="glyphicon glyphicon-minus"></span> 清空
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--模态窗-->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     data-backdrop='static'
     data-target=".bs-example-modal-lg">
    <div class="modal-dialog modal-lg" role="document" style="min-height: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <ul id="myTab" class="nav nav-tabs">
                            <li class="active">
                                <a href="#companyInfo" data-toggle="tab">
                                    企业基本信息
                                </a>
                            </li>
                            <li>
                                <a href="#chemicals" id="chemicalsTab" data-toggle="tab">化学品信息</a>
                            </li>
                            <li>
                                <a href="#risk" id="myTabDrop1" data-toggle="tab">
                                    重大危险源信息
                                </a>
                            </li>
                            <li>
                                <a href="#companyArtTab" id="companyArt" data-toggle="tab">
                                    工艺信息
                                </a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="companyInfo">
                                <form id="companyForm" class="form-inline pull-right form-horizontal" role="form">
                                    <div class="form-group col-md-6">
                                        <label for="companyName" class="col-md-4">企业名称</label>
                                        <input type="text" name="companyName" class="form-control input-sm col-md-8"
                                               readonly   id="companyName">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="area" class="col-md-4">行政区域</label>
                                        <input type="text" name="area" class="form-control input-sm col-md-8" id="area"
                                               readonly>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="typeCode" class="col-md-4">企业类型</label>
                                        <input type="text" name="typeCode" class="form-control input-sm col-md-8"
                                               readonly
                                               id="typeCode">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="typeCode3" class="col-md-4">经济类型</label>
                                        <input type="text" name="typeCode3" class="form-control input-sm col-md-8"
                                               readonly
                                               id="typeCode3">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="industryCode" class="col-md-4">企业行业</label>
                                        <input type="text" name="industryCode" class="form-control input-sm col-md-8"
                                               readonly
                                               id="industryCode">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="legalPerson" class="col-md-4">法定代表人</label>
                                        <input type="text" name="legalPerson" class="form-control input-sm col-md-8"
                                               readonly
                                               id="legalPerson">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="scaleCode" class="col-md-4">企业规模</label>
                                        <input type="text" name="scaleCode" class="form-control input-sm col-md-8"
                                               readonly
                                               id="scaleCode">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="contactWay" class="col-md-4">联系方式</label>
                                        <input type="text" name="contactWay" class="form-control input-sm col-md-8"
                                               readonly
                                               id="contactWay">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="operatingState" class="col-md-4">经营状态</label>
                                        <input type="text" name="operatingState" class="form-control input-sm col-md-8"
                                               readonly
                                               id="operatingState">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="standardRank" class="col-md-4">标准化等级</label>
                                        <input type="text" name="standardRank" class="form-control input-sm col-md-8"
                                               readonly
                                               id="standardRank">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="safeManageRank" class="col-md-4">安全管理等级</label>
                                        <input type="text" name="safeManageRank" class="form-control input-sm col-md-8"
                                               readonly
                                               id="safeManageRank">
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="chemicals">
                                <table id="chemistryTable" class="table  table-striped table-bordered table-hover">
                                </table>
                            </div>
                            <div class="tab-pane fade" id="risk">
                                <table id="riskTable" class="table  table-striped table-bordered table-hover">
                                </table>
                            </div>
                            <div class="tab-pane fade" id="companyArtTab">
                                <table id="companyArtTable" class="table  table-striped table-bordered table-hover">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<script src="../../ProjectScripts/EnterpriseInfo/EnterpriseInfo.js"></script>
</body>
</html>