<!DOCTYPE html>
<html lang="en">
<head>
    <#include "/Common/Layout.html" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="../../Scripts/bootstrap-table/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="../../Scripts/bootstrap-treeview/bootstrap-treeview.min.css"/>
    <link rel="stylesheet" href="../../Scripts/bootstrape-select/css/bootstrap-select.min.css">
    <script src="../../Scripts/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../../Scripts/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

    <script src="../../ProjectScripts/SysDictionary/Dictionary.js"></script>
    <script src="../../Scripts/bootstrape-select/js/bootstrap-select.min.js"></script>
    <script src="../../Scripts/bootstrape-select/js/i18n/defaults-zh_CN.js"></script>
    <script src="../../Scripts/bootstrap-treeview/bootstrap-treeview.js"></script>
    <style>
        /*固定表格行高*/
        .bootTableRow {
            white-space: nowrap;
            overflow: hidden;
            height: 120px;
            max-height: 120px;
        }
        #tree .glyphicon{
            color: #99CCFF;
        }

        .treeview span.icon, .treeview span.image {
            width: 20px;
        }

    </style>


</head>
<body>
<div class="container-fluid">
    <div class="row" style="display: flex">
        <div class="col-xs-3" style="padding-left: 10px;">

            <div id="treeDiv" style="width: 100%;height: 100%;overflow-y: auto;box-shadow: 1px 1px 1px 1px #dddddd;">
                <div id="tree">
                </div>
            </div>


        </div>
        <!--字典表格-->
        <div class="col-xs-9">
            <table id="dictTable" class="table  table-striped table-bordered table-hover">
            </table>
            <div id="dictToolbar" class="toolbar" role="toolbar">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="xs-only" for="dictSearchName">名称：</label>
                        <input type="text" class="form-control" id="dictSearchName"
                               placeholder="请输入名称">
                    </div>
                    <button class="btn btn-default" type="button" onclick="searchMenus()">
                        <span class="glyphicon glyphicon-search" type="button"></span> 查询
                    </button>
                    <button class="btn btn-success" type="button" onclick="dictAdd()">
                        <span class="glyphicon glyphicon-plus"></span> 新增
                    </button>
                    <button class="btn btn-warning" type="button" onclick="dictEdit()">
                        <span class="glyphicon glyphicon-pencil"></span> 修改
                    </button>
                    <button class="btn btn-danger" type="button" onclick="dictDel()">
                        <span class="glyphicon glyphicon-minus"></span> 删除
                    </button>
                    <button class="btn btn-info" type="button" onclick="moveOrder('up')">
                        <span class="glyphicon glyphicon-arrow-up"></span> 上移
                    </button>
                    <button class="btn btn-info" type="button" onclick="moveOrder('down')">
                        <span class="glyphicon glyphicon-arrow-down"></span> 下移
                    </button>
                </form>

            </div>

        </div>


    </div>
</div>
<!--模态窗-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'
     data-target=".bs-example-modal-lg">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <form id="dictForm">
                            <input type="hidden" name="dictId" id="dictId">
                            <input type="hidden" name="typeId" id="typeId">
                            <input type="hidden" name="dictCode" id="dictCode">
                            <div class="form-group">
                                <label for="dictName">字典名称</label>
                                <input type="text" name="dictName" class="form-control" id="dictName"
                                       placeholder="请输入字典名称">
                            </div>

                            <div class="form-group">
                                <label for="isUsed" class="col-xs-10" style="padding-left: 0">是否启用</label>
                                <select id="isUsed" name="IsUsed" class="selectpicker show-tick form-control"
                                        data-live-search="false" data-live-search-style="begins" title="">
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
                            </div>


                        </form>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="btn_save">保存</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>