<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <#include "/Common/Layout.html" />
    <link rel="stylesheet" href="../../Scripts/bootstrap-table/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="../../Scripts/bootstrape-select/css/bootstrap-select.min.css">

    <script src="../../Scripts/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../../Scripts/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="../../Scripts/bootstrape-select/js/bootstrap-select.min.js"></script>
    <script src="../../Scripts/bootstrape-select/js/i18n/defaults-zh_CN.js"></script>


    <style>
        /*固定表格行高*/
        .bootTableRow {
            white-space: nowrap;
            overflow: hidden;
            height: 120px;
            max-height: 120px;

        }
    </style>
    <script src="../../ProjectScripts/SysRole/SysRole.js"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <table id="roleTable" class="table  table-striped table-bordered table-hover">
            </table>
            <div id="roleToolbar" class="toolbar" role="toolbar">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="xs-only" for="roleSearchName">名称：</label>
                        <input type="text" class="form-control" id="roleSearchName"
                               placeholder="请输入名称">
                    </div>
                    <button class="btn btn-default" type="button" onclick="searchMenus()">
                        <span class="glyphicon glyphicon-search" type="button"></span> 查询
                    </button>
                    <button class="btn btn-success" type="button" onclick="add()">
                        <span class="glyphicon glyphicon-plus"></span> 新增
                    </button>
                    <button class="btn btn-warning" type="button" onclick="edit()">
                        <span class="glyphicon glyphicon-pencil"></span> 修改
                    </button>
                    <button class="btn btn-danger" type="button" onclick="del()">
                        <span class="glyphicon glyphicon-minus"></span> 删除
                    </button>

                </form>

            </div>
        </div>
    </div>
</div>

<!--模态窗-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static'
     data-target=".bs-example-modal-lg">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <form id="roleForm">
                            <input type="hidden" name="roleId" id="roleId">
                            <div class="form-group">
                                <label for="roleName">角色名称</label>
                                <input type="text" name="roleName" class="form-control" id="roleName"
                                       placeholder="请输入角色名称">
                            </div>

                            <div class="form-group">
                                <label for="roleName">角色编码</label>
                                <input type="text" name="roleCode" class="form-control" id="roleCode"
                                       placeholder="请输入角色编码">
                            </div>

                            <div class="form-group">
                                <label for="isUsed" class="col-xs-10" style="padding-left: 0">是否启用</label>
                                <select id="isUsed" name="isUsed" class="selectpicker show-tick form-control"
                                        data-live-search="false" data-live-search-style="begins" title="">
                                    <option value="1">是</option>
                                    <option value="0">否</option>
                                </select>
                            </div>


                        </form>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="btn_save">保存</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>